// Local fonts

@font-face {
	font-family: 'Cavorting';
	src: url('../fonts/Cavorting.otf');
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.ttf');
}

// Application styling

html {
	height: 100%;
}

body {
	min-height: 100%;	
	font-family: 'Raleway', sans-serif;
	color: #eee;
	background: url(../images/sky_pink.jpg);
}

.non-mobile-title {
	height: 250px;
}

.non-mobile-title h1 {
	margin-top: 0px;
	font-size: 124px;	
	font-family: 'Cavorting';	
}

.non-mobile-title h2 {	
	font-family: 'Cavorting';	
  position: relative;
  top: -65px;
  left: 59px;
  font-size: 99px;
}

.loading-container, .quote-text-box {
	min-height: 230px;
	border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2));
  border-image-slice: 1;
}

.loading-text {
	position: relative;
	top: -107px;
	font-size: 23px;
}

.quote-content {
	font-size: 42px;
	text-align: left;
}

.quote-author {
	font-size: 36px;
	text-align: right;
}

.past-quotes {
  font-size: 20px;
  margin-top: 50px;
}

.past-quotes h1 {
	margin-top: 12px;
	margin-bottom: 24px;
}

.past-quotes div {
	margin: 7px 0;
}

.quote-buttons {
	margin-top: 25px;
	text-align: right;
}

.btn-quote {
	font-weight: bold;
	width: 175px;
	background:  transparent;
	border: 2px solid #eee;
	border-radius: 5px;
	color: #fff;
	font-size: 28px;
	transition: box-shadow 0.15s ease-out;

	&:hover {
		box-shadow: 0px 0px 10px -1px rgba(238, 238, 238, 0.7);
		color: #fff;
	}

	&:active, &:focus {
		color: #fff;
	}
}

a {
	font-family: 'icomoon';
	font-size: 70px;
	color: #eee;
	margin-left: 20px;
	position: relative;
	top: 20px;

	&:hover, &:focus, &:active {
		color: #ddd;
		text-decoration: none;
	}
}

// Medium Styles
@media (min-width: 992px) and (max-width: 1199px) {
	.non-mobile-title {
		height: 200px;
	}

	.non-mobile-title h1 {
		font-size: 104px;	
	}

	.non-mobile-title h2 {
	  top: -57px;
	  left: 43px;
	  font-size: 79px;
	}

	.loading-container, .quote-text-box {
		min-height: 200px;
	}

	.quote-content {
		font-size: 36px;
	}

	.quote-author {
		font-size: 32px;
	}

	.past-quotes {
		margin-bottom: 100px;
	}

	.past-quotes h1 {
		font-size: 32px;
	}

	.btn-quote {
		width: auto;
		font-size: 24px;
	}

	a {
		font-size: 58px;
	}
}

// Small Styles
@media (min-width: 768px) and (max-width: 991px) {
	.non-mobile-title {
		height: 160px;
	}

	.non-mobile-title h1 {
		font-size: 90px;	
	}

	.non-mobile-title h2 {
	  top: -53px;
		left: 40px;
		font-size: 68px;
	}

	.loading-container, .quote-text-box {
		min-height: 200px;
	}

	.quote-content {
		font-size: 32px;
	}

	.quote-author {
		font-size: 28px;
	}

	.past-quotes {
		margin-bottom: 70px;
	}

	.past-quotes h1 {
		font-size: 28px;
	}

	.btn-quote {
		width: auto;
		font-size: 24px;
	}

	a {
		font-size: 58px;
	}
}

// Extra Small Styles
@media (max-width: 767px) {
	body {
		background: linear-gradient(#d18877, #e17a71);
	}

	.mobile-title {
		font-family: 'Cavorting';
		font-size: 60px;
		margin-bottom: 5px;
	}

	.loading-container, .quote-text-box {
		min-height: 200px;
	}

	.quote-content {
		font-size: 26px;
	}

	.quote-author {
		font-size: 24px;
	}

	.quote-buttons {
		text-align: center;
	}

	.btn-quote {
		width: auto;
		font-size: 24px;
	}

	a {
		font-size: 58px;
	}
}